<%- include('partials/header.ejs') %>
<section class="all-book">
  <% books.forEach(book => { %>
  <div class="book-box">
    <figure class="img-box">
      <img src="<%= book.cover_img %>" alt="<%= book.cover_title %>-cover" />
    </figure>
    <h2><%= book.cover_title %> by <u><%= book.authur_name %></u></h2>
    <small> READ DATE: <%= book.read_date %> .HOW STRONGLY I RECOMMEND IT: <%= book.read_rating %>/10 </small>

    <h3>Preview:</h3>
    <p> <%= book.book_preview %> </p>
    <p>What I have read <a href="/book/<%= book.id %>">Read Notes</a> </p>
  </div>
  <% }) %>
</section>

<%- include('partials/footer.ejs') %>
