<%- include('partials/header.ejs') %>
<section class="all-book">
    
    <div class="book-box">
        <figure class="img-box">
           <img src="<%= coverImageUrl %>" alt="<%= coverTitle %>-cover"> 
        </figure>
        <h2><%= coverTitle %> by <u><%= authorName %></u> </h2>
        <small>READ DATE: .HOW STRONGLY I RECOMMEND IT: 10/10</small>

        <p>preview</p>
        <p>What I have read (note link)</p>
    </div>

</section>


<%- include('partials/footer.ejs') %>
    
