<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Note page</title>
  </head>
  <body>
    <section class="main-section">
      <form action="/back" method="post">
        <!--cover page, title, author and date-->
        <div class="book-box">
          <figure class="img-box">
            <img src="<%= coverImageURL %>" alt="<%= coverTitle %>-cover" />
          </figure>
          <h2><%= coverTitle %> by <u><%= authorName %></u></h2>

          <!-- Rating -->
          <small
            >READ DATE: <%= bookDate %> .HOW STRONGLY I RECOMMEND IT: <%= readRating %>/10</small
          >
        </div>

        <!--preview-->
        <div class="container-preview">
          <div class="preview-head">
            <h3><u>Preview:</u></h3>
          </div>
          <p class="p-preview"><%= bookPreview %></p>
        </div>

        <!--notes-->
        <div class="container-notes">
          <div class="notes-head">
            <h3><u>Notes:</u></h3>
          </div>
          <p class="p-note"><%= bookNote %></p>
        </div>

        <!--Back button // need to improve further step-->
        <div class="back-button">
          <button class="back_button" onclick="flashEffect()">Back</button>
        </div>
      </form>
    </section>
  </body>
</html>
