<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Submit page</title>
  </head>
  <body>
    <section class="main-section">
      <form action="/submit" method="post">

        <!-- Include hidden fields to pass cover info-->
        <input type="hidden" name="coverTitle" value="<%= coverTitle %>">
        <input type="hidden" name="authorName" value="<%= authorName %>">
        <input type="hidden" name="coverImageUrl" value="<%= coverImageUrl %>">

        <!--cover page, title, author and date-->
         <div class="book-box">
                  <figure class="img-box">
           <img src="<%= coverImageUrl %>" alt="<%= coverTitle %>-cover"> 
        </figure>
        <h2><%= coverTitle %> by <u><%= authorName %></u> </h2>
         </div>

         <!-- Rating -->
         <label class="rating" for="rating">Rating (1-10):</label>
         <input type="number" id="rating" name="rating" min="1" max="10" required>
         
        <!--preview-->
        <div class="container-preview">
          <div class="preview-head">
            <h3>Preview:</h3>
          </div>
          <textarea name="previewTextarea" class="previewTextarea" placeholder="Type your preview here..."></textarea>
        </div>

        <!--notes-->
        <div class="container-notes">
          <div class="notes-head">
            <h3>Notes:</h3>
          </div>
          <textarea name="noteTextarea" class="noteTextarea" placeholder="Type your preview here..."></textarea>
        </div>

        <!--submit button-->
        <div class="submit-button">
            <button class="submit_button btn" onclick="flashEffect()" >Submit</button>          
        </div>

      </form>
    </section>

  </body>
</html>
